.admin-blogs .card-body {
    color: black;
}

.admin-blogs .card-body .card-title {
    margin-bottom: 4px;
}

.admin-blogs .card-body .card-text {
    font-size: 16px;
}

.blog-container {
    display: flex;
    justify-content: center;
}

.blog-content {
    max-width: 768px;
    padding: 8px;
}

.blog-header {
    display: flex;
    justify-content: space-between;
}

.blog-content .box-tab {
    background-color: #d6cc47;
    color: #21250a;
    padding: 6px 12px 6px 24px;
    border-radius: 25px;
    font-size: 16px;
}

.blog-content h1 {
    font-weight: 900;
}

.blog-content img {
    width: 100%;
}

.blog-content .body {
    line-height: 1.6;
    word-spacing: 4px;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.blog-container .body blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: Hoefler Text,Georgia,serif;
    font-style: italic;
    margin: 32px 0;
    padding: 10px 20px;
}

.blog-save-btn {
    border: 1px solid #999;
    margin: 10px;

}

.public-DraftEditor-content {
    min-height: 300px;
}

.blog-save-btn .spinner-border-sm {
    height: 1rem;
    width: 1rem;
    margin-right: 0;
}

.btn.publish {
    background-color: #2ecc71;
}

.btn.unpublish {
    background-color: #d35400;
}

.btn-attached-grp {
    display: flex;
    max-width: 200px;
}

.btn-attached-grp > * {
    flex: 1 1 0;
    border-radius: 0;
}

.switch {
    border-radius: 20em;
}

.switch-handle {
    border-radius: 20em;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
    border-radius: 20rem; 
}

.toggle.ios .toggle-handle { 
    border-radius: 20rem; 
}