.user-form .form-element input {
    color: black;
}

.user-form .form-element label {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.user-form .select label {
    position: relative;
}

.user-form .form-group textarea {
    color: black;
}

.user-form .btn-grp {
    justify-content: flex-end;
    margin: 1em 0;
}

.user-form .btn-grp .btn-login {
    flex-basis: auto;
}