.about-text {
    background-color: #f6f7fe;
    line-height: 1.6;
    word-spacing: 4px;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-text .container {
    max-width: 768px;
}